# Step 1. Import the necessary libraries

In [15]:
import pandas as pd

Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called iris

In [16]:
url = ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
df = pd.read_csv(url, header=None)

# Step 4. Create columns for the dataset

In [17]:
df.columns = ['sl', 'sw', 'pl', 'pw','class' ]
df

      sl   sw   pl   pw           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# Step 5. Is there any missing value in the dataframe?

In [18]:
df.info()
# no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sl      150 non-null    float64
 1   sw      150 non-null    float64
 2   pl      150 non-null    float64
 3   pw      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Step 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sl      150 non-null    float64
 1   sw      150 non-null    float64
 2   pl      150 non-null    float64
 3   pw      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [20]:
df['pl'].loc[10:29] = pd.np.NAN
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sl      150 non-null    float64
 1   sw      150 non-null    float64
 2   pl      130 non-null    float64
 3   pw      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

<ipython-input-20-0ed4a70f53a6>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df['pl'].loc[10:29] = pd.np.NAN
D:\D\Anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

# Step 7. Good, now lets substitute the NaN values to 1.0

In [24]:
df.fillna(1, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sl      150 non-null    float64
 1   sw      150 non-null    float64
 2   pl      150 non-null    float64
 3   pw      150 non-null    float64
 4   class   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Step 8. Now let's delete the column class

In [26]:
df.drop('class', axis=1, inplace=True)

In [27]:
df

      sl   sw   pl   pw
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

# Step 9. Set the first 3 rows as NaN

In [28]:
df.loc[:3] = pd.np.NAN

<ipython-input-28-f69b9cbf6e0a>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df.loc[:3] = pd.np.NAN

#  Step 10. Delete the rows that have NaN

In [31]:
df.dropna(axis='index', inplace=True)
df

      sl   sw   pl   pw
4    5.0  3.6  1.4  0.2
5    5.4  3.9  1.7  0.4
6    4.6  3.4  1.4  0.3
7    5.0  3.4  1.5  0.2
8    4.4  2.9  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[146 rows x 4 columns]

# Step 11. Reset the index so it begins with 0 again

In [32]:
df.reset_index(drop=True, inplace=True)

In [33]:
df

      sl   sw   pl   pw
0    5.0  3.6  1.4  0.2
1    5.4  3.9  1.7  0.4
2    4.6  3.4  1.4  0.3
3    5.0  3.4  1.5  0.2
4    4.4  2.9  1.4  0.2
..   ...  ...  ...  ...
141  6.7  3.0  5.2  2.3
142  6.3  2.5  5.0  1.9
143  6.5  3.0  5.2  2.0
144  6.2  3.4  5.4  2.3
145  5.9  3.0  5.1  1.8

[146 rows x 4 columns]